.body {
   background-color: grey;
   width: 110%;
   height: 110%;
   top: -10px;
   left: -10px;
}


footer {
   text-align: center;
   float: left;
   width: 100%;
   position: absolute;
   bottom: 0;
   padding: 15px;
}
