body {
   background-color: grey;
   width: 100%;
   height: 100%;
   margin: 0;
   overflow: hidden;
}
#user-list{
    width: 74.5%;
    margin-right: 250px;
    border: 2px solid white;
    height: 80px;
    float: left;
    position: absolute;
}

#quit {
    z-index: 20;
    width: 100px;
    height: 30px;
    float: right;
    position: relative;
    margin-right: 27%;
    margin-top: 2%;
}

#chat-window{
   float: right;
   width: 25%;
   height: 100%;
   border: 2px solid white;
   top: 0;
   right: 0;
   position: absolute;
   overflow-y: scroll
}

#type-window {
    width: 74.5%;
    margin-right: 250px;
    border: 2px solid white;
    height: 80px;
    float: left;
    bottom: 30px;
    position: absolute;
}

footer {
   text-align: center;
   height: 30px;
   float: left;
   width: 100%;
   position: absolute;
   bottom: 0;
   border-top: 2px solid blue;
   background-color: black;
   color: white;
}
